---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
import ProductosDestacados from '../sections/ProductosDestacados.astro';
---

<Layout title="Contact">
	
	<main>
		<section>
			<h1>Contact Us</h1>
			<p>Proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet.</p>
		</section>
	</main>
</Layout>

<style>
	main{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	section{
		width: 100%;
		height: 50vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	/* @media only screen and (min-width: 1200px){
        main{
            width: 100%;
        }
    } */
</style>
