---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
import ProductosDestacados from '../sections/ProductosDestacados.astro';
---

<Layout title="Welcome to Astro.">
	<Hero />
	<main>
		<ProductosDestacados />
		<Footer />
	</main>
</Layout>

<style>
	
</style>
