---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
import ProductosDestacados from '../sections/ProductosDestacados.astro';
import Categorias from '../sections/Categorias.astro';
import Productos from '../sections/Productos.astro';
import HeroShop from '../sections/HeroAbout.astro';
import { getCollection } from 'astro:content';
import TarjetasDeProductos from '../components/TarjetasDeProductos.astro';

const productos = await getCollection("tips")

---

<Layout title="Shop">
	<main>
		<Categorias />
		<Productos />
		<div>
			<!-- {
				productos.map((datos) => (
					<TarjetasDeProductos
					imagen={datos.data.imagen}
					tallas={datos.data.tallas}
					titulo={datos.data.titulo}
					precio={datos.data.precio}
					/>
				))
			} -->

		</div>
	  
	</main>
</Layout>

<style>
	main{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 1024px;
	}
	
	@media only screen and (min-width: 1024px){
        main{
            width: 100%;
			flex-direction: row;
			padding: 100px 0;
        }
    }
</style>
