---
export interface Props{
    svg: string,
    titulo: string
}

const {svg, titulo} = Astro.props;
---

<div class="contenedor-servicios">
    <figure>
        <img src={svg}>
    </figure>
    <h2>{titulo}</h2>
    
</div>

<style>
    .contenedor-servicios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       
        transition: .3s all;
    }

    .contenedor-servicios:hover{
        background-color: var(--color-verde-principal);
        color: white;
    }

    

</style>