<section>
    <article>
        <div>
            <h1><span>Zay</span> eCommerce</h1>
            <h2>Tiny and Perfect eCommerce Template</h2>
            <p>Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1). This template is 100% free provided by TemplateMo website. Image credits go to Freepik Stories, Unsplash and Icons 8.</p>
        </div>
        <figure>
            <img src="imagenes/banner_img_01.jpg" alt="">
        </figure>
    </article>
</section>

<style>
    section {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-gris-principal);
        color: black;
    }
    article{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px;
        max-width: 475px;
    }

    article div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    

    article h1{
        color: var(--color-verde-principal);
        font-weight: 300;
    }

    article h1 span{
        font-weight: 700;
    }

    figure{
        width: 300px;
    }

    img{
        max-width: 100%;
    }
</style>