---

---

<section>
  <article>
    <div>
      <h1>About us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <figure>
      <img src="imagenes/about-hero.svg" alt="imagen-about" />
    </figure>
  </article>
</section>

<style>
  section {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-verde-principal);
    color: White;
  }
  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    max-width: 475px;
  }

  article div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  article h1 {
    color: White;
    font-weight: 300;
  }

  article h1 span {
    font-weight: 700;
  }

  figure {
    width: 300px;
  }

  img {
    max-width: 100%;
  }

  @media only screen and (min-width: 1024px) {
    section {
      height: 90vh;
    }
    article {
      flex-direction: row;
      max-width: 1024px;
      gap: 90px;
    }

    article div {
      max-width: 475px;
    }

    figure {
      width: 500px;
    }
  }
</style>
