<section>
    <article>
        <h1><span>Zay</span> eCommerce</h1>
        <h2>Tiny and Perfect eCommerce Template</h2>
        <p>Zay Shop is an eCommerce HTML5 CSS template with latest version of Bootstrap 5 (beta 1). This template is 100% free provided by TemplateMo website. Image credits go to Freepik Stories, Unsplash and Icons 8.</p>
    </article>
</section>

<style>
    section {
        width: 100%;
        background-color: var(--color-gris-principal);
        color: black;
    }
    article h1{
        color: var(--color-verde-principal);
        font-weight: 300;
    }

    article h1 span{
        font-weight: 900;
    }
</style>