---
import Card from "../components/Card.astro";
import TarjetasDeProductos from "../components/TarjetasDeProductos.astro";
import { getCollection } from "astro:content";

const productos = await getCollection("tips")

---

<section>
  <div class="contenedor-tarjetas">
    

    <!-- <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_01.jpg"
    />

    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_02.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_03.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_04.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_05.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_06.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_07.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_08.jpg"
    />
    <TarjetasDeProductos 
    titulo="Oupidatat non"
    estrellas="0 0 0 0 0"
    precio="$250.00"
    tallas="M/L/X/XL"
    imagen="imagenes/productos/shop_09.jpg"
    /> -->

    
  </div>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    gap: 20px;
  }
  .contenedor-tarjetas {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
